<div class="text-center" style="margin-top: 50px;">
	<h3>Sorry to ask a question please return to the questions page and click the green button</h3>
	<%= link_to "Go Back To Questions", questions_path, class: "btn btn-success btn-lg", style: "margin:auto;"%>

</div>