      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          
        </div>
      </div>

      <div class="row">

               <% @workshops.limit(1).each do |workshop| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Welcome to my wingman workshops</h2>
          <h5 class="description">Each week I host live group Q&amp;A's which I like to call my "Wingman Workshops". These workshops are hosted via live video forums through various platforms such as youtube and facebook live. These workshops are designed to help provide a little more personal support for my members. You can participate from anywhere in the world... Don't worry you won't be the one on camera, so you can sit down in your PJ's and ask all your questions through our chat system.   </h5>
          <div class="section-space"></div>
        </div>
      </div>

      <div class="row">

       
        
          <div class="col-md-5 col-md-offset-1">
          <%= raw workshop.widget_embed %>
          </div>

        <% end %>

        

        <div class="col-md-5">
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="material-icons">all_inclusive</i>
            </div>
            <div class="description">
              <h4 class="info-title">I'll keep you in the loop</h4>
              <p class="description">
                No need to RSVP, I'll send you a couple of reminder emails letting you know when each workshop is on. 
              </p>
            </div>
              </div>

          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="material-icons">code</i>
            </div>
            <div class="description">
              <h4 class="info-title">Live messaging</h4>
              <p class="description">
                Ask your questions in our chat box and get live responses. If I don't get to your question on air, I'll be sure to follow up with an email or phone call. <strong style="color: #e91e63">I try to answer all questions each week.</strong>
              </p>
            </div>
          </div>

          <div class="info info-horizontal">
            <div class="icon icon-rose">
              <i class="material-icons">dashboard</i>
            </div>
            <div class="description">
              <h4 class="info-title">Super simple to use</h4>
              <p class="description">
                Simply login, open the workshop and start asking your questions. It's productive and much more enjoyable than sitting in a boardroom.
              </p>
            </div>
          </div>
        </div>

      </div>

      <hr />