       <% @workshops.limit(1).each do |workshop| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="title">Welcome to our wingman workshops</h2>
          <h5 class="description">The next wingman workshop is starts soon. We'll send you reminder emails before it starts. So if you have any questions that need answering - this is your chance.</h5>
          <div class="section-space"></div>
        </div>
      </div>

      <div class="row">

       
        
          <div class="col-md-4 col-md-offset-2">
            <%= raw workshop.widget_embed %>
          </div>

        <% end %>

        

        <div class="col-md-5">
          <div class="info info-horizontal">
            <div class="icon icon-info">
              <i class="material-icons">cloud_done</i>
            </div>
            <div class="description">
              <h4 class="info-title">Is your internet speed ok?</h4>
              <p class="description">
                It's probably best to ensure your not downloading or streaming anything else when attending these workshops.
              </p>
            </div>
              </div>

          <div class="info info-horizontal">
            <div class="icon icon-primary">
              <i class="material-icons">free_breakfast</i>
            </div>
            <div class="description">
              <h4 class="info-title">Get comfortable</h4>
              <p class="description">
                Grab yourself a notepad and a coffee. You never now others might have the same question as you.</strong>
              </p>
            </div>
          </div>

          <div class="info info-horizontal">
            <div class="icon icon-rose">
              <i class="material-icons">cast</i>
            </div>
            <div class="description">
              <h4 class="info-title">We do try to answer all of your questions on air</h4>
              <p class="description">
                But if we don't get around to answering your questions on air please don't worry. We'll do our best to reply to all questions either via email or phone.
              </p>
            </div>
          </div>
        </div>

      </div>

      <hr />