<div class="projects-4" id="projects-4">
  <div class="container">
    <% if user_signed_in? %>
    <%= render 'workshops/member_index' %>
    <% else %>
    <%= render 'workshops/guest_index' %>
    <% end %>

    <div class="row">
      <% @workshops.take(9).each do |workshop| %>

        <div class="col-md-3 col-sm-6 col-xs-12">
        
          <% if !user_signed_in? %>
            <style>
              .bw-button {
                display: none !important;
              }
            </style>
            <%= raw workshop.widget_embed %>
          <% end %>

        </div>

      <% end %>
    </div>
  </div>
</div>




