<div class="projects-4" id="projects-4">
  <div class="container">
    <% if user_signed_in? %>
    <%= render 'workshops/member_index' %>
    <% else %>
    <%= render 'workshops/guest_index' %>
    <% end %>

    <div class="row">
      <% @workshops.take(9).each do |workshop| %>

        <div class="col-md-3">
          <%= raw workshop.widget_embed %>
        </div>

      <% end %>
    </div>
  </div>
</div>