<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body bgcolor="#e5e5e5">
	<table bgcolor="#e5e5e5" width="100%">
		<tr>
			<td>
			<div style="width:600px; margin:auto; background-color: #fff; padding: 40px; border-radius: 10px; padding: 20px;">
				<table width="600" style="width:600px; margin:auto; background-color: #fff; padding: 40px; border-radius: 10px;">
					<tr>
						<td>
							<table>
								<tr>
									<td><h1>Hi Josh,</h1></td>
								</tr>
								<tr>
									<td><p style="font-size: 16px;"><%= @user.first_name %> <%= @user.first_name %> has asked a question:</p>
									<div style= "font-size: 20px; font-weight:bold; color: #337ab7; text-decoration: none;"><%= @question.title %></div>
									<p style="color: #aaa;"><%= @question.body %></p>
									</td>
								</tr>
							</table>						
						</td>
					</tr>
				</table>
			</div>
			</td>
		</tr>
	</table>
  </body>
</html>