<div class="text-center" style="margin-top: 50px;">
  <h3>Sorry you're in the wrong area</h3>
  <%= link_to "Click Here To Ask A Question", questions_path, class: "btn btn-success btn-lg", style: "margin:auto;"%>
</div>
