<div id="particles-js"></div>
<div id="overlay">
    <div class="page-header">
	        <div class="container">
	            <div class="row">
					<div class="col-lg-7 col-md-6">
						<h1 class="title" style="font-size: 3.4em">The Black &amp; Whites provide online training &amp; support for small business, start-ups &amp; entrepreneurs.</h1>
	                    

	                    <!--<h4>This is your chance to invest in yourself, your business and your customers. The Black &amp; Whites provides online training and support for small business owners, entrepreneurs and start ups to for just $97/month, no lock in contracts. My name is Josh and I'm all about support  &amp; training, showing small businesses how to unlock the true power of marketing; through consulting methods which you have never seen before!</h4>-->

	                    <div style="font-size: 18px; padding-top: 10px;">From graphic design and website development, to social media and marketing strategies, The Black &amp; Whites is a unique online platform designed to share knowledge, training and support with small business owners to build the fundamental skills to take your business to new heights.</div>

	                    <!-- My perception of marketing is ecclectic and holistic.  I've worked for both marketing agencies and in marketing departments for other businesses. This gives me a unique advantage. Working for an agency my priorities were deadlines, budgets and building a profitable portfolio. On the flipside, working inside a small bussiness my focus was to attempt and repeat anything that worked. It didn't take a genious to figure out that there was a disconnect between what small business needed and what was being delivered. My dream was to align my buiness goals and KPI's with that of my clients, therefore only ever achieving success when my clients did.

	                    my success is not a transaction but relied puerly on the success of my clients. 

	                    an agency has it's own agender, budgets and business plan and it doesn't have a primary focus on the success of your business. -->

	           

	                    <br />
						<!-- video modal -->
						<!--<button class="btn btn-success btn-raised btn-lg" data-toggle="modal" data-target="#myModal">
						    <i class="fa fa-play"></i> Let me introduce myself
						</button>-->

						<%= link_to "What's on this month", calenders_path, class: "btn btn-success btn-raised btn-lg" %>

					</div>

					<div class="col-lg-4 col-md-offset-1">
						<div class="card card-raised" style="margin-bottom: 50px; margin-top: 20px;">
							<div class="card-content">
								<span style="font-size: 20px;"><br />Providing consulting and training for small business like you've never seen before.</span><br />
								
								<div class="card-title" style="font-size: 24px; line-height: 42px; margin-top: 10px;">ONLY $97/month <span style="font-size: 12px; color: #e91e63; font-style: italic; ">TRY NOW FOR $1</span></div>
									<div class="info-horizontal" style="margin-top: 20px;">
										<div class="icon" style="margin-top: 0">
											<i class="material-icons" style="color: #5cb85c; margin-top: 0;">check_circle</i>
										</div>
										<div class="">
											<h5 class="info-title">Weekly Training Videos</h5>
										</div>
									</div>
									<div class="info-horizontal">
										<div class="icon" style="margin-top: 0;">
											<i class="material-icons" style="color: #5cb85c; margin-top: 0;">check_circle</i>
										</div>
										<div class="">
											<h5 class="info-title">24x7 Support Forum Access</h5>
										</div>
									</div>
									<div class="info-horizontal">
										<div class="icon" style="margin-top: 0;">
											<i class="material-icons" style="color: #5cb85c; margin-top: 0;">check_circle</i>
										</div>
										<div class="">
											<h5 class="info-title">Facebook Live Events</h5>
										</div>
									</div>
									<div class="info-horizontal">
										<div class="icon" style="margin-top: 0;">
											<i class="material-icons" style="color: #5cb85c; margin-top: 0;">check_circle</i>
										</div>
										<div class="">
											<h5 class="info-title">Exclusive Content</h5>
										</div>
									</div>
									<div class="info-horizontal">
										<div class="icon" style="margin-top: 0;">
											<i class="material-icons" style="color: #5cb85c; margin-top: 0;">check_circle</i>
										</div>
										<div class="">
											<h5 class="info-title">Live Chat Sessions</h5>
										</div>
									</div>

								<%= link_to "30 DAY TRIAL JUST $1", new_user_registration_path, class: "btn btn-rose" %>
							</div>
						</div>
					</div>
	            </div>
          	</div>
    	</div>
    </div>

	<div class="main">
		<div class="container">
	    	<div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title" style="margin-bottom: 0; padding-bottom: 0">Let's talk value</h2>
                        <h5 style="line-height: 25px; margin-bottom: 40px;">The Black &amp; Whites offer low cost, high value marketing consulting, support &amp; training for small businesses like you've never seen before! Learn how to lay a rock solid foundation so you don't have to rely on paying for new consumers. You'll also learn how to execute effective marketing campaigns. No more agencies, learn how to do everything yourself, quickly &amp; cost effectively. </h5>
                        <h5 class="description">When you join The Black &amp; Whites you unlock exclusive access to  weekly training videos, support forums, live chat, live video &amp; resources which help you evolve into a more diverse, multi-skilled powerhouse. By giving you new skills, mountains of knowledge &amp; an abundance of support you'll not only save thousands, you'll also be investing in your own personal development. Think of it like an online course &amp; every subject revolves around your business.</h5>
                    </div>
                </div>

				<div class="features">
					<div class="row">
						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-info">
									<i class="material-icons">cast</i>
								</div>
								<h4 class="info-title">Tons of Support</h4>
								<div style="text-align: justify; text-justify: inter-word;">As a small business it's never a bad idea to have a shoulder to lean on. The problem is hiring a traditional consulting firm involves thousands of dollars &amp; lengthy contracts. The Black &amp; Whites strip away all the flesh leaving bare bones. With no contracts &amp; for just $97 a month you'll find a strong, experienced &amp; reassuring shoulder to lean on. Ask any question at anytime of day or night &amp; you'll have a comprehensive response within hours not days or weeks. Every week join our live chat sessions where you can ask your questions &amp; receive live answers immediatly.</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-success">
									<i class="material-icons">movie_creation</i>
								</div>
								<h4 class="info-title">Online Training</h4>
								<div style="text-align: justify; text-justify: inter-word;">Thinking about a little self improvement? Have no time or money to waste on a traditional online course? Learn the skills &amp; knowledge you need to take your business to the next level. The Black &amp; Whites release new training videos every week. Their designed specifically for small business owners, startups &amp; entrepreneurs to tackle the practical side of marketing. Each video is between 5-10 minutes long &amp; will teach you everything from designing your own posters &amp; business cards, engineering your own marketing database, building your own websites &amp; executing effective marketing campaigns.</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="info">
								<div class="icon icon-danger">
									<i class="material-icons">headset_mic</i>
								</div>
								<h4 class="info-title">Content &amp; Resources</h4>
								<div style="text-align: justify; text-justify: inter-word;">With years of experience and so much to talk about it made sense to start an online library. New articles, videos &amp; resources will be added every few days. We'll be filling this library as time goes on, everything you learn at The Black &amp; White's will be archived accordingly so you'll never have trouble referencing something from the past. </div>
							</div>
						</div>
	                </div>
				</div>
            </div>
        </div>
    


		

	<div class="container">
		 <div class="row">
		 	<div class="col-md-8 col-md-offset-2 text-center">
				<h2 class="title">Why you should join The Black &amp; Whites</h2>
			</div>

		 	<div class="col-md-3">
			 	<div class="card card-plain card-blog">
					<div class="card-image">
						
							<img class="img img-raised" src="https://res.cloudinary.com/theblackandwhites/image/upload/v1497747207/bnw/assets/couple-finances-MM.jpg" />
					
					</div>

					<div class="card-content">
						<h4 class="card-title">
							You'll save thousands			
						</h4>
						<p class="card-description">
							Hiring a consultant or marketing expert will set you back tens of thousands! For just $97 a month you're likely to spend more on your coffee.
						</p>
					</div>
				</div>
		 	</div>

		 	<div class="col-md-3">
			 	<div class="card card-plain card-blog">
					<div class="card-image">
						
							<img class="img img-raised" src="https://res.cloudinary.com/theblackandwhites/image/upload/v1497747215/bnw/assets/winning_culture_kids_race_car.jpg" />
					
					</div>

					<div class="card-content">
						<h4 class="card-title">
							You're investing in yourself			
						</h4>
						<p class="card-description">
							The Black &amp; Whites is providing you with the skills, knowledge and resources so that you can unlock and harness the true power of marketing in any business, regardless of how fast technology is growing.
						</p>
					</div>
				</div>
		 	</div>
		 	<div class="col-md-3">
			 	<div class="card card-plain card-blog">
					<div class="card-image">
							<img class="img img-raised" src="https://res.cloudinary.com/theblackandwhites/image/upload/v1497747221/bnw/assets/WomanTexting-1250x650.jpg" />
					</div>
					<div class="card-content">
						<h4 class="card-title">
							You can do it at home			
						</h4>
						<p class="card-description">
							What better way to learn than in the comfort of your own home. Simply log in to your dashboard and start watching the training videos, ask questions or participate in our live events. 
						</p>
					</div>
				</div>
		 	</div>
		 	<div class="col-md-3">
			 	<div class="card card-plain card-blog">
					<div class="card-image">
						
							<img class="img img-raised" src="https://res.cloudinary.com/theblackandwhites/image/upload/v1497747228/bnw/assets/images.jpg" />
					
					</div>

					<div class="card-content">
						<h4 class="card-title">
							Australian Based		
						</h4>
						<p class="card-description">
							Located on the Gold Coast, Australia. The Black &amp; Whites is a business you can confide in, one that you can trust and one that will stick by you.
						</p>
					</div>
				</div>
		 	</div>
	 	</div>
	</div>
		<div class="row" style="margin: 100px; padding-bottom: 100px;">
			<div class="col-md-12 text-center">
				<h2 class="title">TRIAL FOR 30 DAYS - JUST $1</h2>
				<h4 class="title">YOU REALLY HAVE NOTHING TO LOSE, <i style="color: #E91E63">SEE YOU ON THE INSIDE!</i></h4>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-rose btn-round" %>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src="https://player.vimeo.com/video/221980094" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>


				<div class="row">
					<div class="col-md-6" style="margin-bottom: 15px;">
						<h3>Hi, I'm Josh. </h3>
						<h5 style="line-height: 0;">Lead Wingman &amp; Founder</h5>
					</div>
					<div class="col-md-6">
							<%= link_to new_user_registration_path, class: "btn btn-rose btn-lg" do %>
							<i class="material-icons">shopping_cart</i> TRY OUR $1 TRIAL
						<% end %>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">	
						<p><i>"I'm super passionate about marketing, but not in the traditional sense. I like watching the penny drop, when my clients realise that their own marketing can evolve into something they've never thought possible. I value my knowledge and I am so excited to share with you everything I know; so your business can break new ground.</i></p>						
					</div>
					<div class="col-md-6">
						<p> <i>Strap yourself in, you're about to unlock a powerful set of new skills, shortcuts &amp; tactics that can help you and your business grow to heights you never thought imaginable".</i></p>
						<img src="https://res.cloudinary.com/theblackandwhites/image/upload/v1496981868/bnw/assets/signature.png" alt="Josh Edgar" width="100px">
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

</div>

<script>
$("#myModal").on('hidden.bs.modal', function (e) {
    $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
});
</script>