<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497747436/bnw/assets/43b0d2a4c64d6a57e3d11d51ace46263-2afd840265f1fc46d2d230d6515b62ff.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">I write really cool software to make our members lives a little easier.</h1>
					<h4>Yep, I actually want to see our members succeed.<br />
						I supply the tools so they can.
					</h4>
				</div>
			</div>
		</div>
	</div>

<div class="main main-raised">
<div class="container">
<div class="section">
<div class="row">
<div class="col-md-8 col-md-offset-2 text-center">
    <h3 class="title" style="margin-bottom: 0; padding-bottom: 0">I'm launching 3 big tools for our members,late July!</h3>
    <h5 style="line-height: 25px; margin-bottom: 40px;">I'm passionate about programming and prototyping an idea so it becomes a practical asset. I've created some very useful and easy to use tools to help you take your business to the next level without breaking the bank. 
This is a very valuable inclusion for our members, getting a project custom built by a web agency could cost tens if not hundreds of thousands of dollars. I'll be taking a few suggestions every couple of months and releasing them to our members so that they can start using them to grow their businesses.
</h5>
</div>
</div>



	<div class="row">
		<div class="col-md-6">
			<div class="card card-raised card-background" style="background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497511100/bnw/assets/Ooopa.png')">
				<div class="card-content">
					<h6 class="category text-info">DRAG AND DROP WEBSITE BUILDER</h6>
					<a href="#pablo">
						<h3 class="card-title">Ooopa</h3>
					</a>
					<p class="card-description" style="color: white">
						Designed to make the complex process of building a website easy. By creating intuitive drag and drop elements you'll be able to create your own websites with ease. No technical knowledge needed, just a little dedication.
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card card-raised card-background" style="background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497510880/bnw/assets/gclancer.png')">
				<div class="card-content">
					<h6 class="category text-info">GRAPHIC DESIGN HUNTER</h6>
					<h3 class="card-title">GCLancer</h3>
					<p class="card-description" style="color: white">
						We have hand selected just a few of the Gold Coast's best freelance designers and website developers. As a member, you'll get the chance to work with these professionals directly at a cost that suits you. 
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="card card-raised card-background" style="background-image: url('https://res.cloudinary.com/theblackandwhites/image/upload/v1497511163/bnw/assets/markerr.png')">
				<div class="card-content">
					<h6 class="category text-info">Marketing Plan Generator</h6>
					<h3 class="card-title">Markerr</h3>
					<p class="card-description" style="color: white">
						Proper Planning Prevents Piss Poor Performance! Which is why an effective marketing plan can mean the difference between a negative and positively geared campaign. However, writing a marketing plan can be hard. In fact, most businesses don't know where to start. This nifty little tool helps walk you through the process of creating an effective marketing plan. 

					</p>
					

				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>