    <nav class="navbar navbar-danger navbar-transparent navbar-absolute" style="z-index: 999999;">
    	<div class="container">

    		<%= render 'layouts/nav_content' %>
        	
    	</div>
    </nav>