    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
			
    		<%= render 'layouts/nav_content' %>
        	
    	</div>
    </nav>
    <div style="margin-top: 70px;"></div>